.DS_Store
__pycache__
.ipynb_checkpoints
.vscode

venv*

*.pkl
*.png
*.jpeg
*.csv
*.json
*.pq

jfrog*

part*

*.onnx

dblincoe-shared
scratch*

2024Q1_semantic_relevance/*.xlsx
diff_jinja.j2
diff_python.py
